<%- include("partials/header")%>
<%- include("partials/nav")%>

<form action="/change-password/<%=id%>" method="post" class="container w-25" style="margin-top: 10vmax;background-color: #b17c98;border: 2px solid rgb(128, 47, 125);box-shadow: 2px 2px 0px  rgb(59, 56, 59);" >


<!-- //required maxlength minlength -->
    <!-- <form class="m-auto w-25 mt-5"></form> -->
    <h2 class="mb-4 ms-4 mt-3 mb-3">Change Password</h2    >


    <input class="form-control mb-3 border-4" type="password" placeholder="******" name="password" style="margin-top: 3vmax;border: 2px solid rgb(93, 45, 81);">


    <button class="btn btn-primary mb-3  mt-4" style="margin-left: 3vmax;background-color: #993A7E;border-radius: 5vmax;padding: 1vmax 2vmax;border: none;font-size: 1.5vmax;">Change Password</button>

</form>
<%- include("partials/footer")%>