<%- include("partials/header")%>
<%- include("partials/nav")%>
<div>
<form action="/forget-password" method="post" class="container w-25" style="margin-top: 12vmax;background-color: #b17c98;border: 2px solid rgb(128, 47, 125);box-shadow: 2px 2px 0px  rgb(59, 56, 59);">


<!-- //required maxlength minlength -->
    <!-- <form class="m-auto w-25 mt-5"></form> -->
    <h3 class="mb-4 text-center mt-3">Enter Existing Email</h3>


    <input class="form-control mb-3" style="border: 2px solid rgb(93, 45, 81);" type="email" placeholder="example@gmail.com" name="email">
    <input class="form-control mb-3" style="border: 2px solid rgb(93, 45, 81);" type="text" placeholder="Subject of mail" name="subject">
    <input class="form-control mb-3" style="border: 2px solid rgb(93, 45, 81);" type="text" placeholder="Body of mail" name="body">

<button class="btn btn-primary" style="margin-left: 7vmax;background-color: #7c2863;border-radius: 5vmax;padding: 1vmax 2vmax;border: none;">Send mail</button>
    <p class="text-center  mt-3"><a style="color: rgb(88, 14, 69);font-size: 1.2vmax;font-weight: 500;"  class="text-center" href="/sign-up">Signup</a> | <a style="color: rgb(88, 14, 69);font-size: 1.2vmax;font-weight: 500;" class="text-center" href="/sign-in">Signin</a></p>

</form>
</div>
<%- include("partials/footer")%>