<%- include("partials/header")%>
<%- include("partials/nav")%>

<div class="main  d-flex">

  <div class="main-l w-50">
    <img class="w-100 mt-4" src="/images/notesapp-img.png" alt="">
    
  </div>


  <div class="main-r w-50">
    <h1 class="" style="margin-top: 11vmax;text-align: center;font-size: 4vmax;font-weight: 900;">Write your <br> thoughts down <br> as they come to <br> you.</h1>
    
    <button id="home-btn" class="btn fs-1" style="text-align: center;margin-top: 4vmax; margin-left: 15vmax;padding:1vmax 2vmax;font-weight: bolder;"><a class="text-decoration-none text-dark" href="/sign-in">Get Started</a></button>
   
  </div>

</div>

<%- include("partials/footer")%>

