<%- include("partials/header")%>
<%- include("partials/nav")%>

<div class="d-flex">

<div class="h-l d-flex">

    <div class="p-l-box d-flex flex-column ms-5" style="margin-top: 5vmax;">
        <h1 class="mt-5" style="color: black;font-weight: bolder;">Account</h1>
        <div class="p-l-links d-flex flex-column mt-3 mt-3 fs-2 gap-5">
        <a href="/home"><i class="fa-solid fa-user mt-3 fs-2 "></i>  Home</a>
        <a href="/mynotes"><i class="fa-solid fa-user mt-3 fs-2 "></i>  My Notes</a>
        <a href="/profile"><i class="fa-solid fa-book mt-3 fs-2 "></i>  My Profile</a>
        <!-- <a href="/notification"><i class="fa-solid fa-bell mt-3 fs-2 "></i>  Notification</a> -->
        
        <a href="/settings"><i class="fa-solid fa-gear mt-3 fs-2 "></i>  Settings</a>
        <a href="/sign-out" class="ms-4"> Sign Out</a>
    </div>
    </div>
</div>

<div class="h-r d-flex flex-column">


    <div class="set-r-box d-flex flex-column gap-5" style="margin-top: 10vmax;margin-left: 15vmax;">
        <!-- <h1>Settings&nbsp;<i class="fa-solid fa-gear"></i></h1> -->

        <h2>My Notifications&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i></h2>
        <h2>Privacy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i></h2>
        <h2>Delete my account&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i></h2>
    </div>



</div>

<%- include("partials/footer")%>